.bg-primary {
    background-color: #512BD4;
}

.bg-secondary {
    background-color: #D600AA;
}

.text-primary {
    color : #512BD4;
}

.text-secondary {
    color: #D600AA;
}

:root {
    --primary-color: #512BD4;
    --secondary-color: #D600AA;
    --Third-color: #5C2D91;
}

/* .scale-125 {
    transform: scale(1.25);
} */