.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-third {
    background-color: var(--third-color);
}


.text-primary {
    color : var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
    
}
.text-third {
    color: var(--third-color);
}
.border-third {
    border-color: var(--third-color);
}

:root {
    --primary-color: #512BD4;
    --secondary-color: #D600AA;
    --third-color: #5C2D91;
}

.bg-gradient-radial {
    background: radial-gradient(at 0% 0%, white, #e5d8f3, white);
}

.vert{
    display: flex;
    align-items: center;
}

.blur{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--primary-color);
}

/* .scale-125 {
    transform: scale(1.25);
} */